#header {
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 3%;
    }
    
    #favouriteButton {
    background-color: rgba(2, 0, 36, 0.642);
    color: aliceblue;
    padding: 2%;
    width: 70%;
    border-radius: 5px;
    }
    
    .liElement {
    background-color: rgba(2, 0, 36, 0.642);
    color: aliceblue;
    padding: 2%;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    margin: 1%;
    cursor: pointer;
    }
    
    .delButton {
    float: right;
    }
    
    .displayDiv {
    margin: 1%;
    }
    .bgcoloradd {
    background-color: aliceblue;
    padding: 1%;
    }
    
    #adviceBtn {
    float: left;
    margin-right: 2%;
    margin-top: 2%;
    background-color: cornflowerblue;
    font-weight: bold;
    color: white;
    padding: 1%;
    border-radius: 10px;
    cursor: pointer;
    }
    
    .hide {
    display: none;
    }
    
    .show {
    display: block;
    }
    
    #advice {
    color: cornflowerblue;
    float: right;
    margin-right: 2%;
    }
    #newsDiv {
    background-color: #66ff0030;
    padding: 1%;
    margin: 1%;
    }